# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# [START gke_k8s_grpc_headless_backend_overlay_example_kustomization]
nameSuffix: "-backend"
labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    app: whereami-grpc-backend
resources:
- ../k8s-grpc
patches:
- path: cm-flag.yaml
  target:
    kind: ConfigMap
- path: service-type.yaml
  target:
    kind: Service
# [END gke_k8s_grpc_headless_backend_overlay_example_kustomization]
