fastapi
hypercorn
#requests
emoji==2.14.1
grpcio
grpcio-reflection
grpcio-health-checking
prometheus-fastapi-instrumentator
py-grpc-prometheus
opentelemetry-api
opentelemetry-sdk
opentelemetry-propagator-b3
opentelemetry-propagator-gcp
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-fastapi
#opentelemetry-instrumentation-requests
six
httpx
